<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yom.hospitalmanagementyom" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Hospital Management"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagementYOM" >
        <activity
            android:name=".HomePatientActivity"
            android:exported="false"
            android:label="@string/title_activity_home_patient"
            android:theme="@style/Theme.HospitalManagementYOM.NoActionBar" />
        <activity
            android:name=".activity.HospitalViewingActivityForPatient"
            android:exported="false" />
        <activity
            android:name=".activity.CommonRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivityForPatient"
            android:exported="false" />
        <activity
            android:name=".activity.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivityForHospital"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SlideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
