<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yom.hospitalmanagementyom">

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/appName"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagementYOM">
        <activity
            android:name=".activity.home.patient.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.ProfilePatientActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.HomePatientActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.HospitalViewingActivityForPatient"
            android:exported="false" />
        <activity
            android:name=".activity.registration.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.CommonRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.RegistrationActivityForHospital"
            android:exported="false" />
        <activity
            android:name=".activity.registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.SlideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>