<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yom.hospitalmanagementyom">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/appName"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalManagementYOM">
        <activity
            android:name=".activity.home.patient.SearchPatientActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.doctor.HomeDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.home.patient.HomePatientActivity"
            android:exported="false" />
        <activity
            android:name=".activity.registration.VerificationActivity"
            android:exported="false"
            android:label="@string/verification"
            android:parentActivityName=".activity.registration.CommonRegistrationActivity"/>
        <activity
            android:name=".activity.registration.CommonRegistrationActivity"
            android:exported="false"
            android:label="@string/signUp"
            android:parentActivityName=".activity.registration.RegistrationActivityForHospital"/>
        <activity
            android:name=".activity.registration.RegistrationActivityForHospital"
            android:exported="false"
            android:label="@string/signUp"
            android:parentActivityName=".activity.registration.RegistrationActivity"/>
        <activity
            android:name=".activity.registration.RegistrationActivity"
            android:exported="false"
            android:label="@string/signUp"
            android:parentActivityName=".activity.registration.ChooseActivity"/>
        <activity
            android:name=".activity.registration.ChooseActivity"
            android:exported="false"
            android:label="@string/signUp"
            android:parentActivityName=".activity.registration.LoginActivity"/>
        <activity
            android:name=".activity.registration.LoginActivity"
            android:exported="false"
            android:label="@string/login"
            android:parentActivityName=".activity.registration.SlideActivity"/>
        <activity
            android:name=".activity.registration.SlideActivity"
            android:exported="false"
            android:theme="@style/Theme.HospitalManagementYOM.NoActionBar"/>
        <activity
            android:name=".activity.registration.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HospitalManagementYOM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>